<!DOCTYPE html>
<html>
  <head>

    <title>FRESH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>




    </style>
  </head>

<body>
<div class="header topnav">
  <h1>-</h1>
  <p >The best <b>decisions</b> for the <b>patents</b> you manage</p>
    <div class="search-container">
        <button type="submit" id="search_app" ><i class="fa fa-search"></i></button>
        <input type="text"  id="applicant"  placeholder="Type in applicant name" name="search">
    </div>

</div>

<div id="Applicants" class="topnav tabcontent header2 ">
    <div id="resultsa"> </div>
</div>
<div class="tab" hidden>
  <button class="tablinks" id='examtab' >Examiners</button>
  <button class="tablinks" id='apptab' >Applicants</button>
  <button class="tablinks" id='appidtab'>Applications</button>
  <button class="tablinks" id='abouttab'>About</button>
</div>
  <div class="wrapper-examiners tabcontent header2 rcorners2" id="Examiners">
    <input class="fname-input" id="fname" list="dlCities" type="text" placeholder="SELECT" hidden/>
    <button class="examine-btn" id="clickme" hidden>CHECK EXAMINER</button>
    <div id="result" class="data-result"> </div>
    <div class="topnav">


</div>
  </div>


  <div id="Applications" class="tabcontent">
      <input class="fname-input" id="applicationid" placeholder="Type in application id" type="text"/>
      <button class="examine-btn" id="search_app_by_id">SEARCH APPLICATIONS</button>
      <div id="resultbyid"> </div>
  </div>
  <div id="About" class="tabcontent">
      <div id="resultbyid"> <b>Fresh</b> is a Washington, D.C.-area based, modern and accessible Intellectual Property law firm. <br/> <br/>
We pride ourselves with an exceptional success rate of getting IP rights through the US patent office. <br/> <br/>
As leaders in the IP community, we continue to innovate and support our friends and colleagues accross the world. This chrome extension is a service to the IP community and to our clients, meant to raise awareness to the usefulness and importance of data analytics in patent prosecution. <br/> <br/>
To get in touch with us, please email  <a href="mailto:office@freship.com">office@freship.com</a>  </div>
  </div>
  <script type="text/javascript" src="static/Chart.min.js"></script>
  <script type="text/javascript" src="static/popup.js"></script>
</body>
</html>
